$hoofdkleur: #2859BC;
$secondaire-donker: #48592D;
$secondaire-kleur: #81D742;
$hoofdkleur-lichter: #4F82FF;
$contrast-kleur: #FF652A;
$achtergrond-donkerder: #cccccc;

$mijnFont: 'Montserrat', sans-serif;